<!-- -*- mode: XML -*- -->

<launch>
<!-- Start the Dynamixel servo manager to control hector_arm -->
    <node name="hector_arm_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
    </node>
    <!-- Start upper and lower arm joint controllers -->
    <rosparam file="$(find hector_small_arm_driver)/config/hector_arm_controller_sim.yaml" command="load"/>

    <node name="hector_arm_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="joint_0
                joint_1
                joint_2
								joint_3
								joint_4"
                output="screen"/>
 </launch>
