<!-- -*- mode: XML -*- -->

<launch>
    <!-- Start the Dynamixel servo manager to control hector_arm -->
    <node name="hector_arm_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: hector_arm_manager
            serial_ports:
                hector_arm_port:
                    port_name: "/dev/ttyUSB0"
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 20
                    update_rate: 50
        </rosparam>
    </node>

    <!-- Start upper and lower arm joint controllers -->
    <rosparam file="$(find hector_arm_driver)/config/hector_arm_controller.yaml" command="load"/>

    <node name="hector_arm_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=hector_arm_manager
                --port=hector_arm_port
                --type=simple
								joint0_controller
                joint1_controller
                joint2_controller
								joint3_controller
								joint4_controller"
                output="screen"/>
 
    <node name="joint_states_publisher" pkg="hector_arm_driver" type="joint_states_publisher.py"/>
    
    <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
 
 <param name="robot_description" command="$(find xacro)/xacro.py '$(find hector_arm_urdf)/urdf/hector_arm_ax12_standalone.xacro'" />
 
 </launch>
